Source: filetransferdaemon
Section: net
Priority: extra
Maintainer: Tor Krill <tor@excito.com>
Uploaders: Carl Fürstenberg <carl@excito.com>, Tor Krill <tor@excito.com>
Build-Depends: cdbs, 
 debhelper (>= 6), 
 libeutils-dev, 
 libsigc++-2.0-dev, 
 libtorrent-rasterbar-dev, 
 libpopt-dev, 
 libboost-system1.37-dev
Standards-Version: 3.8.0

Package: filetransferdaemon
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: ftd
Conflicts: ftd
Description: File Transfer Daemon
 A filetransfer daemon capable of ftp, http and torrent downloads
