Source: filetransferdaemon
Section: net
Priority: extra
Maintainer: Tor Krill <tor@excito.com>
Uploaders: Carl Fürstenberg <carl@excito.com>
Build-Depends: debhelper (>= 7.2), 
 libeutils-dev, 
 libsigc++-2.0-dev, 
 libtorrent-rasterbar-dev, 
 libpopt-dev, 
 libboost-system-dev,
 libcurl4-openssl-dev | libcurl4-dev
Standards-Version: 3.9.2

Package: filetransferdaemon
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: ftd
Conflicts: ftd
Description: File Transfer Daemon
 A filetransfer daemon capable of ftp, http and torrent downloads
